---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getRecipes } from '../../components/RecipeProvider';

const recipes = await getRecipes();
const pageTitle = "Recipes";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    {recipes.map(recipe => (
      <li><a href={`/recipes/${recipe.id}`}>{recipe.data.title}</a></li>
    ))}
  </ul>
</BaseLayout>