@view-transition {
  navigation: auto;
}

html {
  background-color: #f1f5f9;
  font-family: 'Inter Variable', sans-serif;
}

html, body {
  height: 100%;
}

main {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

main, nav, footer {
  width: 100%;
  max-width: 80ch;
  padding: 1rem;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}