---
import { getRecipes } from "../../components/RecipeProvider"
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
  const recipes = await getRecipes();
  const tags = [...new Set(recipes.flatMap(recipe => recipe.data.tags))];

  return tags.map(tag => {
    const tagRecipes = recipes.filter(recipe => recipe.data.tags.includes(tag));
    return {
      params: { tag },
      props: { recipes: tagRecipes },
    };
  });
}

const { tag } = Astro.params;
const { recipes } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>Recipes tagged with {tag}</p>
  <ul>
    {recipes.map(recipe => (
      <li><a href={`/recipes/${recipe.id}/`}>{recipe.data.title}</a></li>
    ))}
  </ul>
</BaseLayout>