---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getRecipes } from "../../components/RecipeProvider"

const recipes = await getRecipes();
const tags = [...new Set(recipes.flatMap(recipe => recipe.data.tags))].sort();
const pageTitle = "Tags";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    {tags.map(tag => (
      <li><a href={`/tags/${tag}`}>{tag}</a></li>
    ))}
  </ul>
</BaseLayout>