---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection } from "astro:content";

const recipes = await getCollection("recipes");
const tags = [...new Set(recipes.map((recipe: any) => recipe.data.tags).flat())];
const pageTitle = "Tags";
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    {tags.map((tag) => (
      <li><a href={`/tags/${tag}`}>{tag}</a></li>
    ))}
  </ul>
</BaseLayout>